.imgCarrito {
  width: 40%;
  padding: 10px;
  margin-right: -30px;
  transition: all 0.5s;
}

.imgCarrito:hover {
  background-color: white;
  border-radius: 80px;
}

.totalCantidad {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  font-weight: bolder;
  margin-right: -110px;
}

.totalCant {
  margin-left: -15px;
  font-size: 260%;
}

@media (max-width: 1800px) {
  .imgCarrito {
    width: 35%;
  }
}
