.cartItem {
  width: 350px;
  border: 1px solid black;
  padding: 20px;
  cursor: pointer;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  color: white;
  background: linear-gradient(rgba(234, 237, 237, 0.7), rgba(0, 0, 0, 0.8));
}

.cartItem:hover {
  background: linear-gradient(rgb(161, 156, 156), rgb(71, 66, 66));
  color: white;
  box-shadow: 0 0 30px 10px black;
  border: none;
}

.nombreCart {
  font-size: 160%;
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: 200%;
}

.cantidadCart {
  font-size: 130%;
  margin-bottom: 10px;
}

.precioCart {
  font-size: 130%;
  margin-bottom: 10px;
}

.idCart {
  font-size: 130%;
  margin-bottom: 10px;
}

.imgCart {
  width: 100%;
}

.btnEliminarProd {
  font-size: 150%;
  font-weight: bold;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  transition: all 0.5s;
}

.btnEliminarProd:hover {
  background-color: black;
  color: white;
}
