.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.btnCambiarValor {
  padding: 3px;
  width: 40px;
  background-color: rgb(39, 133, 241);
  color: black;
  font-size: 180%;
  font-weight: bolder;
  transition: all 0.5s;
  border: none;
  padding-bottom: 5px;
}

.btnCambiarValor:hover {
  background-color: red;
  color: white;
}

.contador {
  font-size: 150%;
  margin-top: 12px;
  font-weight: bold;
}

.btnAgregarAlCarrito {
  padding: 10px;
  background-color: rgb(39, 133, 241);
  border: none;
  font-size: 130%;
  font-weight: 600;
  transition: all 0.5s;
}

.btnAgregarAlCarrito:hover {
  background-color: red;
  color: white;
}
